{% extends 'base.html' %}

{% block title %}aboutus{% endblock title %}

{% block body %}
<tr>
    <td >
	<div id="container1">
	
	<table width="100%" border="0">
	
	<tr><td height="25px;" style="color:#000000;"> <h1> About Site </h1> </td></tr>
	
	<tr><td style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; line-height:1.5; color:#FF8800"> <div id="container2"> <h4>It is an Indian Government Voting website . Every voter can vote through it either the voter in India or in any other country . It is a free of cost website . It is not required any payment for registration or vote or any visiting cost . <br /><br />   Our aim to increase the voting in India . <br /><br /> By this website everyone can vote with the aadhar number and the fingerprint .<br /><br /> It is not depend on any government voting list either you receive any voting slip or not from the tehsil side . Using only aadhar card you can vote if you have then you can vote . </h4></div></td></tr>
	
	
	<tr><td style="color:#000000;"> <h2> About Designer and Developer </h2><br /> </td></tr>
	<tr><td style="font-size:14PX; color:#00CC33;">
	<div id="container">
	<table width="100%" height="100%" border="0">
		<tr><td width="175px"> <img src="/static/image/16.jpg" width="125px" height="125px" /> </td>
  <td > APOORV AGRWAL <br /><br />I AM A WEB DESIGNER AND DEVELOPER & CURRENTLY PERSUING B. Tech. FROM K.S.V.C.E.M. , BIJNOR . <br /><br />Contact no. : +91-7037202867 , +91-7906875025<br /><br />Email id : apoorv20699@gmail.com</td></tr>
	</table></div>
	
	</td></tr>
<tr><td style="font-size:14PX; color:#FF0000;">
	<div id="container" >
	<table width="100%" height="100%" border="0">
		<tr><td width="175px"> <img src="/static/image/17.jpg" width="125px" height="125px" /> </td>
 <td  > DHRUV NARAYAN TIWARI <br /><br /> I AM A WEB DEVELOPER & CURRENTLY PERSUING B. Tech. FROM K.S.V.C.E.M. , BIJNOR . <br /><br /> Contact no. : +91-8755144881<br /><br /> Email id : dhruvjmt@gmail.com</td></tr>
	</table></div><br /><br /><br />
	
	</td></tr>
	</table></div>
	
	</div>
	</td></tr>


{% endblock body %}

