{% extends 'base.html' %}

{% block title %}home{% endblock title %}

{% block body %}
 <tr>
	<td >
	<br /><div id="sliderFrame" style="width:98%; height:500px;">
  <div id="slider" style="width:100%; height:500px;">
  
  <!--sliding images-->
  <img src="/static/image/20.jpg" /><img src="/static/image/19.jpg" /><img src="/static/image/10.jpg" /><img src="/static/image/11.jpg" /><img src="/static/image//12.jpg" /><img src="/static/image/18.jpg" />
	
	</div>
	</div><br />
	</td></tr>
	<tr><td><br />
	<!--history-->
	<h2 style="margin-left:30px; color:#00cc33">History and 1st Government</h2>
	<div id="container" style="border-color:#00cc33;"><table width="100%" border="0" >
		<tr><td width="30%"> <center> <img src="/static/image/nehru.jpg" width="90%" /> </center> </td>
  <td style="font-size:17px; line-height:1.5;" >The democratization of the newly independent country means the atmosphere of the whole festival! The whole Indian society is so full of suicidal feelings as if it is proving its ability to defy the British and democracy to the world. The society which the British called such a society which will not digest democracy, nor will it be able to handle it further. 17 crore 32 lakh 12 thousand 343 voters of India were registered for 497 Lok Sabha seats and 3283 seats in state assemblies. Out of these, 10 crore 59 lakh people, about 85 percent of whom were illiterate, surprised the whole world by electing their representatives.
  <br /><br />
  From 25 October 1951 to 21 February 1952, that election process, which lasted nearly four months, brought India to a new place. It was definitely a plundered, illiterate impoverished country by the British, but in spite of this, it placed itself in the line of the world's declared democratic countries.
  <br /><br />
  Jawaharlal Nehru traveled 40 thousand km as part of his election campaign and addressed about three and a half crore people. This was an extraordinary and unprecedented work then. Although there were opportunities to work for opposition parties, they also had stunning leaders, but they did not have the organization, resources and workers to carry out such a comprehensive campaign. At that time, there was not even enough media to spread its message through it.
  
  </td></tr>
	</table></div>
	</td></tr>

{% endblock body %}
