{% extends 'base.html' %}

{% block title %}party_list{% endblock title %}
	

{% block body %}

<!--Table start-->
	
<table width="100%" border="5">
		<tr style="text-align:center;">
		  <td height="250px">
			  
			  <table width="100%" border="1" >
			  <tr><td>
			  
			  Photo
			  
			  </td>
			  <td>
			  
			  Name & location
			  
			  </td>
			  <td>
			  
			  Logo
			  
			  </td>
			  </tr>
			  </table>
			  
		  </td>
		</tr>
	  </table>
	  
	  <!--Table end-->

{% endblock body %}


